# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/

# Spring Boot
*.log
logs/

# Entorno
.env
*.env.local

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
